# Property Listed Price and Rent Prediction

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./data/data.csv')
df

,State,City,Street,Zipcode,Latitude,Longitude,Bedroom,Bathroom,Area,PPSq,LotArea,ConvertedLot,LotUnit,MarketEstimate,RentEstimate,Price
0,AL,Saraland,Scott Dr,36571.0,30.819534,-88.095960,4.0,2.0,1614.0,148.636927,0.38050,0.38050,acres,240600.0,1599.0,239900.0
1,AL,Southside,Big Oak Dr W,35907.0,33.881050,-86.012436,3.0,2.0,1474.0,0.000678,0.67034,0.67034,acres,186700.0,1381.0,1.0
2,AL,Robertsdale,Cowpen Creek Rd,36567.0,30.590004,-87.580376,3.0,2.0,1800.0,144.388889,3.20000,3.20000,acres,NaN,NaN,259900.0
3,AL,Gulf Shores,Spinnaker Dr #201,36542.0,30.284956,-87.747920,2.0,2.0,1250.0,274.000000,NaN,NaN,NaN,NaN,NaN,342500.0
4,AL,Chelsea,Mallet Way,35043.0,33.357986,-86.608700,3.0,3.0,2224.0,150.629496,0.26000,0.26000,acres,336200.0,1932.0,335000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24516,WY,Burns,Road 210a,82053.0,41.149517,-104.439620,2.0,1.0,1112.0,337.230216,20.00000,20.00000,acres,368600.0,1500.0,375000.0
24517,WY,Cody,Lincoln Ave,82414.0,44.524570,-109.033844,2.0,3.0,1232.0,241.801948,1306.80000,0.03000,sqft,NaN,NaN,297900.0
24518,WY,Dubois,Mason Dr,82513.0,43.521640,-109.594050,2.0,2.0,2016.0,262.896825,1.42000,1.42000,acres,NaN,2294.0,530000.0
24519,WY,Cheyenne,Carolina Rd,82009.0,41.138450,-105.052790,3.0,2.0,2930.0,196.552901,6.23000,6.23000,acres,558000.0,2749.0,575900.0
24520,WY,Evansville,6th St,82636.0,42.865440,-106.277450,3.0,3.0,2300.0,143.434783,7575.08400,0.17390,sqft,329500.0,1614.0,329900.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24521 entries, 0 to 24520
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           24135 non-null  object
 1   City            24135 non-null  object
 2   Street          24104 non-null  object
 3   Zipcode         24135 non-null  float64
 4   Latitude        24135 non-null  float64
 5   Longitude       24135 non-null  float64
 6   Bedroom         23456 non-null  float64
 7   Bathroom        23524 non-null  float64
 8   Area            23029 non-null  float64
 9   PPSq            22784 non-null  float64
 10  LotArea         23103 non-null  float64
 11  ConvertedLot    23103 non-null  float64
 12  LotUnit         23103 non-null  object
 13  MarketEstimate  15927 non-null  float64
 14  RentEstimate    17649 non-null  float64
 15  Price           24130 non-null  float64
dtypes: float64(12), object(4)
memory usage: 3.0+ MB

In [5]:
df.describe()

,Zipcode,Latitude,Longitude,Bedroom,Bathroom,Area,PPSq,LotArea,ConvertedLot,MarketEstimate,RentEstimate,Price
count,24135.000000,24135.000000,24135.000000,23456.000000,23524.000000,23029.000000,22784.000000,23103.000000,23103.000000,1.592700e+04,17649.000000,2.413000e+04
mean,49803.793371,39.777742,-92.256964,3.388344,2.408036,2110.278866,265.271433,2761.895076,11.157897,4.841942e+05,2595.383251,5.304693e+05
std,29582.441312,5.643364,16.815573,1.116027,1.193186,1604.456529,4091.052158,3740.451139,598.769340,1.139923e+06,3943.018444,1.687055e+06
min,1002.000000,25.449816,-161.772780,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.570000e+04,100.000000,0.000000e+00
25%,25411.000000,35.984594,-103.394547,3.000000,2.000000,1386.000000,132.359951,0.529991,0.179100,2.300500e+05,1599.000000,2.150000e+05
50%,50322.000000,39.966393,-89.139660,3.000000,2.000000,1840.000000,183.968122,4.500000,0.310000,3.411000e+05,2106.000000,3.350000e+05
75%,74066.000000,42.954664,-79.148755,4.000000,3.000000,2458.000000,257.120253,6414.210000,1.000000,4.990000e+05,2800.000000,4.990000e+05
max,99950.000000,65.044370,-67.016030,36.000000,30.000000,99990.000000,550000.000000,87517.000000,87517.000000,7.195920e+07,212834.000000,7.600000e+07

In [8]:
df.sort_values('Zipcode')

,State,City,Street,Zipcode,Latitude,Longitude,Bedroom,Bathroom,Area,PPSq,LotArea,ConvertedLot,LotUnit,MarketEstimate,RentEstimate,Price
9999,MA,Amherst,Sunderland Rd,1002.0,42.422096,-72.538150,4.0,3.0,3120.0,181.089744,2.700000,2.700000,acres,526800.0,3499.0,565000.0
9527,MA,Belchertown,Mill Valley Rd,1007.0,42.263100,-72.374750,3.0,2.0,1512.0,210.978836,1.760000,1.760000,acres,324600.0,2274.0,319000.0
9657,MA,Belchertown,Gold St,1007.0,42.342020,-72.410630,3.0,2.0,1296.0,270.061728,1.730000,1.730000,acres,355000.0,2949.0,350000.0
9535,MA,Chester,Maple St,1011.0,42.278910,-72.979530,5.0,2.0,2136.0,46.816479,0.450000,0.450000,acres,88900.0,2800.0,100000.0
9645,MA,Chicopee,Fairmont St,1013.0,42.185658,-72.598274,2.0,1.0,1008.0,237.996032,0.511387,0.511387,acres,242000.0,1800.0,239900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.isna().sum()

State              386
City               386
Street             417
Zipcode            386
Latitude           386
Longitude          386
Bedroom           1065
Bathroom           997
Area              1492
PPSq              1737
LotArea           1418
ConvertedLot      1418
LotUnit           1418
MarketEstimate    8594
RentEstimate      6872
Price              391
dtype: int64

In [13]:
data = df.copy()

In [14]:
# Convert Zipcode to string
data['Zipcode'] = data['Zipcode'].astype(str)

# Standardize text data (example: City names)
data['City'] = data['City'].str.title()

In [15]:
data

,State,City,Street,Zipcode,Latitude,Longitude,Bedroom,Bathroom,Area,PPSq,LotArea,ConvertedLot,LotUnit,MarketEstimate,RentEstimate,Price
0,AL,Saraland,Scott Dr,36571.0,30.819534,-88.095960,4.0,2.0,1614.0,148.636927,0.38050,0.38050,acres,240600.0,1599.0,239900.0
1,AL,Southside,Big Oak Dr W,35907.0,33.881050,-86.012436,3.0,2.0,1474.0,0.000678,0.67034,0.67034,acres,186700.0,1381.0,1.0
2,AL,Robertsdale,Cowpen Creek Rd,36567.0,30.590004,-87.580376,3.0,2.0,1800.0,144.388889,3.20000,3.20000,acres,NaN,NaN,259900.0
3,AL,Gulf Shores,Spinnaker Dr #201,36542.0,30.284956,-87.747920,2.0,2.0,1250.0,274.000000,NaN,NaN,NaN,NaN,NaN,342500.0
4,AL,Chelsea,Mallet Way,35043.0,33.357986,-86.608700,3.0,3.0,2224.0,150.629496,0.26000,0.26000,acres,336200.0,1932.0,335000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24516,WY,Burns,Road 210a,82053.0,41.149517,-104.439620,2.0,1.0,1112.0,337.230216,20.00000,20.00000,acres,368600.0,1500.0,375000.0
24517,WY,Cody,Lincoln Ave,82414.0,44.524570,-109.033844,2.0,3.0,1232.0,241.801948,1306.80000,0.03000,sqft,NaN,NaN,297900.0
24518,WY,Dubois,Mason Dr,82513.0,43.521640,-109.594050,2.0,2.0,2016.0,262.896825,1.42000,1.42000,acres,NaN,2294.0,530000.0
24519,WY,Cheyenne,Carolina Rd,82009.0,41.138450,-105.052790,3.0,2.0,2930.0,196.552901,6.23000,6.23000,acres,558000.0,2749.0,575900.0
24520,WY,Evansville,6th St,82636.0,42.865440,-106.277450,3.0,3.0,2300.0,143.434783,7575.08400,0.17390,sqft,329500.0,1614.0,329900.0

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24521 entries, 0 to 24520
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           24135 non-null  object
 1   City            24135 non-null  object
 2   Street          24104 non-null  object
 3   Zipcode         24521 non-null  object
 4   Latitude        24135 non-null  float64
 5   Longitude       24135 non-null  float64
 6   Bedroom         23456 non-null  float64
 7   Bathroom        23524 non-null  float64
 8   Area            23029 non-null  float64
 9   PPSq            22784 non-null  float64
 10  LotArea         23103 non-null  float64
 11  ConvertedLot    23103 non-null  float64
 12  LotUnit         23103 non-null  object
 13  MarketEstimate  15927 non-null  float64
 14  RentEstimate    17649 non-null  float64
 15  Price           24130 non-null  float64
dtypes: float64(11), object(5)
memory usage: 3.0+ MB

In [17]:
data.describe()

,Latitude,Longitude,Bedroom,Bathroom,Area,PPSq,LotArea,ConvertedLot,MarketEstimate,RentEstimate,Price
count,24135.000000,24135.000000,23456.000000,23524.000000,23029.000000,22784.000000,23103.000000,23103.000000,1.592700e+04,17649.000000,2.413000e+04
mean,39.777742,-92.256964,3.388344,2.408036,2110.278866,265.271433,2761.895076,11.157897,4.841942e+05,2595.383251,5.304693e+05
std,5.643364,16.815573,1.116027,1.193186,1604.456529,4091.052158,3740.451139,598.769340,1.139923e+06,3943.018444,1.687055e+06
min,25.449816,-161.772780,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.570000e+04,100.000000,0.000000e+00
25%,35.984594,-103.394547,3.000000,2.000000,1386.000000,132.359951,0.529991,0.179100,2.300500e+05,1599.000000,2.150000e+05
50%,39.966393,-89.139660,3.000000,2.000000,1840.000000,183.968122,4.500000,0.310000,3.411000e+05,2106.000000,3.350000e+05
75%,42.954664,-79.148755,4.000000,3.000000,2458.000000,257.120253,6414.210000,1.000000,4.990000e+05,2800.000000,4.990000e+05
max,65.044370,-67.016030,36.000000,30.000000,99990.000000,550000.000000,87517.000000,87517.000000,7.195920e+07,212834.000000,7.600000e+07